<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row placeholders">
        <h3 class="text-justify" id="musicanalysis">My Track Analysis</h3>
        <div class="row">
            <div class="col-lg-7">
                <h4 class="text-justify" id="analysis-instruction">Please mouseover on a track image or click a track container for analysis.</h4>
            </div>
            <div class="col-lg-2">

            </div>
            <div class="col-lg-1 analysis-btn-col">
                <button class="btn btn-default analysis-btn" id="show-analysis">Show All</h4>
            </div>
            <div class="col-lg-1 analysis-btn-col">
                <button class="btn btn-default analysis-btn" id="close-analysis">Close All</h4>
            </div>
        </div>
        <% for(var i = 0; i < 10; i++) { %>
            <div class="row track-row" track-row-id="<%= topTracks[i].id %>">
                <div class="col">
                    <div class="row">
                        <div class="col-lg-1">
                            <h3><%= i + 1 %></h3>
                        </div>
                        <div class="col-lg-2">
                            <img class="track-img" track-id="<%= topTracks[i].id %>" src="<%= topTracks[i].album.images[1].url %>" width="120" height="120">
                        </div>
                        <div class="col-lg-6">
                            <h3 class="text-left"><%= topTracks[i].name %></h3>
                        </div>
                        <div class="col-lg-2">
                            <div class="row">
                                <h4 class="text-left">Mode: <%= trackAnalysis[i].mode %></h4>
                            </div>
                            <div class="row">
                                <h4 class="text-left">Key: <%= trackAnalysis[i].key %></h4>
                            </div>
                            <div class="row">
                                <h4 class="text-left">Tempo: <%= Math.round(trackAnalysis[i].tempo) %></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row track-analysis-box" id="analysis<%= topTracks[i].id %>">
                        <div class="col-lg-1">
                            <div id="Danceability<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="Energy<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="Loudness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="Speechiness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="Acousticness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="Instrumentalness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="Liveness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="Valence<%= topTracks[i].id %>"></div>
                        </div>

                        <script language="JavaScript">
                            start();
                            var attributes;

                            function start() {
                                attributes = {
                                    Danceability: <%= trackAnalysis[i].danceability %>,
                                    Energy: <%= trackAnalysis[i].energy %>,
                                    Loudness: <%= trackAnalysis[i].loudness %>,
                                    Speechiness: <%= trackAnalysis[i].speechiness%>,
                                    Acousticness: <%= trackAnalysis[i].acousticness %>,
                                    Instrumentalness: <%= trackAnalysis[i].instrumentalness %>,
                                    Liveness: <%= trackAnalysis[i].liveness %>,
                                    Valence: <%= trackAnalysis[i].valence %>
                                };

                                for (var attribute in attributes) {
                                    if (attribute == 'Loudness') {
                                        radialProgress(document.getElementById(attribute + '<%= topTracks[i].id %>'))
                                            .label(attribute)
                                            .diameter(150)
                                            .minValue(-60)
                                            .maxValue(0)
                                            .value(attributes[attribute])
                                            .render();
                                    } else {
                                        radialProgress(document.getElementById(attribute + '<%= topTracks[i].id %>'))
                                            .label(attribute)
                                            .diameter(150)
                                            .minValue(0)
                                            .maxValue(1)
                                            .value(attributes[attribute])
                                            .render();
                                    }
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
