<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row placeholders">
        <h3 class="text-justify" id="musicanalysis">My Track Analysis</h3>
        <% for(var i = 0; i < 10; i++) { %>
            <div class="row track-row" track-row-id="<%= topTracks[i].id %>">
                <div class="col">
                    <div class="row">
                        <div class="col-lg-2">
                            <h3><%= i + 1 %></h3>
                        </div>
                        <div class="col-lg-2">
                            <img class="track-img" track-id="<%= topTracks[i].id %>" src="<%= topTracks[i].album.images[1].url %>" width="120" height="120">
                        </div>
                        <div class="col-lg-4">
                            <p class="text-left">
                                <h3><%= topTracks[i].name %></h3>
                            </p>
                        </div>
                        <div class="col-lg-2">
                            <div class="row">
                                <h4 class="text-left">Mode: <%= trackAnalysis[i].mode %></h4>
                            </div>
                            <div class="row">
                                <h4 class="text-left">Key: <%= trackAnalysis[i].key %></h4>
                            </div>
                            <div class="row">
                                <h4 class="text-left">Tempo: <%= trackAnalysis[i].tempo %></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row track-analysis-box" id="analysis<%= topTracks[i].id %>">
                        <div class="col-lg-1">
                            <div id="danceability<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="energy<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="loudness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="speechiness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="acousticness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="instrumentalness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="liveness<%= topTracks[i].id %>"></div>
                        </div>
                        <div class="col-lg-1">
                            <div id="valence<%= topTracks[i].id %>"></div>
                        </div>

                        <script language="JavaScript">
                            start();
                            var attributes;

                            function start() {
                                attributes = {
                                    danceability: <%= trackAnalysis[i].danceability %>,
                                    energy: <%= trackAnalysis[i].energy %>,
                                    loudness: <%= trackAnalysis[i].loudness %>,
                                    speechiness: <%= trackAnalysis[i].speechiness%>,
                                    acousticness: <%= trackAnalysis[i].acousticness %>,
                                    instrumentalness: <%= trackAnalysis[i].instrumentalness %>,
                                    liveness: <%= trackAnalysis[i].liveness %>,
                                    valence: <%= trackAnalysis[i].valence %>
                                };

                                for (var attribute in attributes) {
                                    console.log(attribute);
                                    if (attribute == 'loudness') {
                                        radialProgress(document.getElementById(attribute + '<%= topTracks[i].id %>'))
                                            .label(attribute)
                                            .diameter(150)
                                            .minValue(-60)
                                            .maxValue(0)
                                            .value(attributes[attribute])
                                            .render();
                                    } else {
                                        radialProgress(document.getElementById(attribute + '<%= topTracks[i].id %>'))
                                            .label(attribute)
                                            .diameter(150)
                                            .minValue(0)
                                            .maxValue(1)
                                            .value(attributes[attribute])
                                            .render();
                                    }
                                }
                            }
                        </script>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
